/*  your css code here. If applicable */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
	 
	 border-color:#969799;
	 padding: 1px;
	 width: 30%;
	
	
}

.text-name{
    font-size: 2rem;
    font-weight: 600;
}
tr, th, td{
	border: 2px solid black;


	border:"1px solid black";
	font-size:25px
	
}