/*  your css code here. If applicable */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.text-name{
    font-size: 2rem;
    font-weight: 600;
}
tr, th, td{
	border="1px solid black";
}